@{
    ViewBag.Title = "Contact";
}
<h2>Style Changer</h2>

<p>
    Here I've listed a lot of different Bootstrap Styles that I have downloaded. Just click on the
    button next to the description to change this websites style to that one. 
</p>

<p>
    If you want to see the full effect of the changes head back to the components page 
    @Html.ActionLink("here", "Components")
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Picture</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td></td>
    </tr>
</table>