
@{
    ViewBag.Title = "Styles";
}

<h2>Customising Bootstrap</h2>

Bootstrap is easy to customise as it is put together using less files. Through the use of less
varriable and mixins and other less features the organisation of such a large css file is much
more easily managed and modified.

Other people have customised bootstrap and they are downloadable for free from a variety of
site such as:

Bootswatch:

I have downloaded a selection of these styles and on the following page you can play around with them
by changing the css for this site. <button class="btn btn-default">Styles page</button>

One way to create a customised bootstrap style is to go to the getbootstrap website. Here there is a 
page where you can set all the less varriables to whatever values you'd ike and then download
a customised bootstrap.css file. You can also select which components and jQuerry puggins you
need.

If you want full control over the customisation then the best way to do that is to get your own
less compilier and edit the less files directly.

You can download one from windows here: <a href="http://winless.org/">http://winless.org/</a> Though the 
font size does seem to be particularly small on a high resolution monitor.

You can also install a plugin such as Web Essentials into Visual studio.

To learn more about Less go to the offical website at <a href="http://lesscss.org/">http://lesscss.org/</a>


Guide: http://www.sitepoint.com/a-comprehensive-introduction-to-less/
Part 2: https://www.sitepoint.com/a-comprehensive-introduction-to-less-mixins/



